@charset "utf-8";

/* header */
.header {
    position: fixed;
    width: 100%;
    height: 122px;
    background: rgba(17, 17, 17, 0.10);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    color: #fff;
    z-index: 1000;
    display: flex;
    font-size: 24px;
    font-family: 'freesentation';
    font-weight: normal;
    justify-content: center;
}

.header h1 {
    flex: 1;
}

.header .gnb {
    display: flex;
    justify-content: center;
    flex: 2;
}

.header .gnb ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header .gnb li a {
    display: inline-block;
    padding: 10px 0;
}

.header .gnb_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header .con_inner {
    width: 100%;
    max-width: 1600px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .gnb_right ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* //header */


/* main_visual */

.main_visual {
    width: 100%;
    height: 1044px;
    background-image: url(../img/main_visual_img.jpg);
    position: relative;
    z-index: 1;
}

.main_visual .con_inner strong {
    position: absolute;
    bottom: 20%;
    right: 5%;
    color: var(--main-yellow-color);
    font-family: 'lovingu';
    font-weight: normal;
    font-size: 85px;
    text-align: right;
    letter-spacing: 6.8px;
}

.main_visual .con_inner h2 {
    position: absolute;
    bottom: 15%;
    right: 5%;
    color: var(--main-yellow-color);
    font-family: 'freesentation';
    font-weight: normal;
    font-size: 35px;
    text-align: right;
}

/* //main_visual */

/* 증상입력 */

.left2 h4 {
    font-family: 'freesentation';
    font-weight: 500;
}

.search {
    width: 100%;
    display: flex;
}

.search .con_inner {
    height: 856px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_inner {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 617px;
    height: auto;
}

.left_inner .left1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 3px solid #111;
    position: relative;
}

.left_inner .left1 input {
    border: 0;
    width: 100%;
    outline: 0;
    font-size: 30px;
    /* padding-left: 20px; */
    padding-right: 50px;
    font-family: 'freesentation';
    font-weight: normal;
}

.left_inner .left1 button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: 0;
    cursor: pointer;
}

.search_txt {
    color: #848484;
    font-family: 'freesentation';
    font-weight: normal;
    font-size: 30px;
}

.left_inner .left2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.left_inner .left2 h4 {
    background-color: #E6E6E6;
    border-radius: 100px;
    text-align: center;
    white-space: nowrap;
    height: 59px;
    font-size: 22px;
}

.left_inner .left2 h4:nth-child(1) {
    width: 96px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_inner .left2 h4:nth-child(2) {
    width: 96px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_inner .left2 h4:nth-child(3) {
    width: 149px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_inner .left2 h4:nth-child(4) {
    width: 194px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_inner .left2 h4:nth-child(5) {
    width: 172px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_inner .left2 h4:nth-child(6) {
    width: 172px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big_txt {
    color: #EDEDED;
    text-align: right;
    font-size: 130px;
    font-family: 'freesentation';
    font-weight: 900;
}

/* //증상입력 끝 */

/* 배너 */
.banner {
    width: 100%;
    height: 1258px;
    background-image: url(../img/con2_bg_all.png);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
}

.banner .con_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
}

.banner .con_inner>h2 {
    font-size: 94px;
    font-weight: 600;
    letter-spacing: 2.5px;
    color: #fff;
    font-family: 'freesentation';
    font-weight: 300;
    /* margin-bottom: 20px; */
}

.banner .con_inner>h2 span {
    display: block;
    color: var(--main-yellow-color);
    margin-bottom: 30px;
}

.banner .con_inner>h4 {
    font-size: 40px;
    color: #fff;
    font-family: 'freesentation';
    font-weight: 200;
    line-height: 1.4;
}

.banner .more {
    margin-top: 20px;
    margin-bottom: 140px;
}

/* //배너 끝 */

/* 비디오 */
.video {
    width: 100%;
}

.video .con_inner {
    height: 1582px;
    padding: 300px 0px;
    margin-bottom: 120px;
}

.video .con_inner .inner_top .main_txt_b {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.inner_bottom {
    display: flex;
    gap: 20px;
}

.main_txt_b {
    font-family: 'paperlogy';
    font-weight: bold;
    color: #111;
    font-size: 100px;
    letter-spacing: -3%;
}

.video1 {
    width: 630px;
    height: 575px;
    border-radius: 20px;
    display: block;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.video2,
.video3,
.video4,
.video5 {
    width: 460px;
    height: 280px;
    border-radius: 20px;
    display: block;
    box-sizing: border-box;
}

.inner_bottom a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 20px;
}

.inner_bottom a:hover::before {
    opacity: 1;
}

.inner_bottom a {
    position: relative;
    display: block;
}

.play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: none;
}

.play_button img {
    width: 60px;
    height: auto;
}

.inner_bottom a:hover .play_button {
    opacity: 1;
}

/* //비디오 끝 */

/* 케어 */
.care {
    width: 100%;
    background-image: url(../img/con4_bg.png);
}

.care .con_inner {
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
}

.care .con_inner .top_inner {
    margin-top: 150px;
    /*     display: flex;
    align-items: center;
    gap: 30px; */
}

.care .con_inner .top_inner .ai .main_txt_w {
    color: #fff;
    font-family: 'paperlogy';
    font-weight: bold;
    font-size: 100px;
    letter-spacing: -3%;
}

.care .top_inner .good {
    display: flex;
    align-items: baseline;
}

.care .con_inner .top_inner .good strong {
    color: var(--main-yellow-color);
    font-size: 60px;
    font-family: 'freesentation';
    font-weight: 600;
    font-style: normal;
}

.care .con_inner .top_inner .good p {
    color: #fff;
    font-family: 'freesentation';
    font-weight: 500;
    font-size: 40px;
}

.care .con_inner .bottom_inner {
    display: flex;
    width: 100%;
    position: relative;
}

.care .con_inner .bottom_inner .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.care .bottom_inner .left h2 {
    font-size: 70px;
    font-family: 'freesentation';
    font-weight: bold;
    color: #fff;
}

.care .bottom_inner .left h3 {
    font-size: 40px;
    color: #c6c6c6;
    font-family: 'freesentation';
    font-weight: bold;
}

.care .bottom_inner .left .best {
    width: 119px;
    height: 52px;
}

.care .bottom_inner .right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 30px;
}

.care .bottom_inner .right .bedding {
    width: 634px;
    height: 668px;
    border-radius: 20px;
}

.care .bottom_inner .right .arrow_left,
.care .bottom_inner .right .arrow_right {
    align-self: center;
}

/* //케어 끝 */

/* 커뮤니티 */
.community {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community .more {
    cursor: pointer;
}

.community .con_inner .commu_bottom .chat_box {
    padding: 10px;
}

.community .con_inner {
    height: 1074px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
}

.community .con_inner .commu_top {
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.community .con_inner .commu_bottom {
    display: flex;
    height: 219px;
    gap: 80px;
    position: relative;
    justify-content: center;
}

.community .con_inner .commu_bottom::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0%;
    bottom: 0%;
    width: 1px;
    background: linear-gradient(to bottom, transparent, rgba(170, 170, 190, 0.9), transparent);
    transform: translateX(-50%);
}

.community .con_inner .bottom_left {
    flex: 1;
}

.community .con_inner .bottom_left,
.bottom_right .chat_box p {
    font-family: 'freesentation';
    font-weight: normal;
    font-size: 28px;
}

.community .con_inner .bottom_left .comment,
.community .con_inner .bottom_right .comment {
    font-family: 'freesentation';
    font-weight: normal;
    font-size: 28px;
    color: #5C5C5C;
}

.community .bottom_left .chat_box,
.community .bottom_right .chat_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.comment_info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.community .con_inner .bottom_right {
    flex: 1;
}

/* //커뮤니티 끝 */


/* 가이드 */
.guide {
    width: 100%;
}

.guide .more {
    cursor: pointer;
}

.guide .con_inner {
    height: 1424px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*     margin-bottom: 100px; */
    /*     margin-top: 50px; */
}

.guide .con_inner .guide_top {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.guide .con_inner .guide_bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.guide .con_inner .guide_bottom .guide_item {
    flex: 1;
}

.guide .con_inner .guide_bottom .guide_wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.guide .con_inner .guide_bottom .guide_wrap img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.guide .con_inner .guide_bottom .guide_txt {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-family: 'freesentation';
    font-weight: 300;
}

.guide .guide_wrap {
    width: 100%;
    display: block;
    border-radius: 20px;
    transition: transform 0.7s ease;
}

.guide .guide_wrap:hover {
    transform: scale(1.1);
}

.guide .guide_wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

/* //가이드 끝 */

/* AI헬스체크 */
.health {
    width: 100%;
}

.map {
    cursor: pointer;
}

.health .con_inner {
    height: 1074px;
    margin-bottom: 150px;
}

.health .health_top {
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.health .health_content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.health .left_inner {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 617px;
    height: auto;
}

.health .left_inner input {
    border: 0;
    width: 100%;
    outline: 0;
    font-size: 30px;
    padding-right: 50px;
    font-family: 'freesentation';
    font-weight: normal;
    margin-bottom: 20px;
}

.health .left1 button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: 0;
    cursor: pointer;
}

.health .left_inner .left1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-bottom: 3px solid #111;
    margin-top: 20px;
}

.health .left_inner .left2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.health .left_inner .left2 h4 {
    background-color: #E6E6E6;
    border-radius: 100px;
    text-align: center;
    white-space: nowrap;
    height: 59px;
    font-size: 22px;
}

.health .left_inner .left2 h4:nth-child(1) {
    width: 128px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.health .left_inner .left2 h4:nth-child(2) {
    width: 96px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.health .left_inner .left2 h4:nth-child(3) {
    width: 96px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.health .left_inner .left2 h4:nth-child(4) {
    width: 149px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.health .left_inner .left2 h4:nth-child(5) {
    width: 172px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.health .left_inner .left2 h4:nth-child(6) {
    width: 172px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.health .right_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.health .right_inner .map img {
    max-width: 100%;
    height: auto;
}

.health .health_top .main_txt_b {
    font-family: 'paperlogy';
    font-weight: bold;
    color: #111;
    font-size: 100px;
    letter-spacing: -3%;
}

.health .more_b {
    cursor: pointer;
}

.health .left_inner .left_bottom .big_txt2 {
    color: #EDEDED;
    text-align: left;
    font-size: 110px;
    font-family: 'freesentation';
    font-weight: 900;
    line-height: 1.1;
    margin-top: 100px;
    white-space: nowrap;
}

/* //AI헬스체크 끝 */

/* 가족찾기 */
.family {
    width: 100%;
    height: 1034px;
}

.family .con_inner {
    height: auto;
}

.family .con_inner .family_top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 50px;
}

.family .con_inner .family_top .more {
    cursor: pointer;
}

.family .con_inner .family_top strong {
    font-size: 30px;
    font-family: 'freesentation';
    font-weight: 500;
}

/* 스와이퍼 */

.familySwiper {
    width: 100%;
    margin: 20px auto;
}

.familySwiper .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.familySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* //가족찾기 끝 */