@charset "utf-8";

@font-face {
    font-family: 'waguri';
    font-weight: normal;
    font-style: normal;
    src: url(../font/WAGURITTF.woff) format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: 100;
    font-style: normal;
    src: url(../font/Pretendard-Thin.woff) format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: 200;
    font-style: normal;
    src: url(../font/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: 300;
    font-style: normal;
    src: url(../font/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: normal;
    font-style: normal;
    src: url(../font/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: 500;
    font-style: normal;
    src: url(../font/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: 600;
    font-style: normal;
    src: url(../font/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: bold;
    font-style: normal;
    src: url(../font/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: bold;
    font-style: normal;
    src: url(../font/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'pretendard';
    font-weight: 900;
    font-style: normal;
    src: url(../font/Pretendard-Black.woff) format('woff');
}

@font-face {
    font-family: 'suite';
    font-weight: 300;
    font-style: normal;
    src: url(../font/SUITE-Light.woff) format('woff');
}

@font-face {
    font-family: 'suite';
    font-weight: normal;
    font-style: normal;
    src: url(../font/SUITE-Regular.woff) format('woff');
}

@font-face {
    font-family: 'suite';
    font-weight: 500;
    font-style: normal;
    src: url(../font/SUITE-Medium.woff) format('woff');
}

@font-face {
    font-family: 'suite';
    font-weight: 500;
    font-style: normal;
    src: url(../font/SUITE-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'suite';
    font-weight: bold;
    font-style: normal;
    src: url(../font/SUITE-Bold.woff) format('woff');
}

@font-face {
    font-family: 'suite';
    font-weight: bold;
    font-style: normal;
    src: url(../font/SUITE-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'suite';
    font-weight: 900;
    font-style: normal;
    src: url(../font/SUITE-Heavy.woff) format('woff');
}

@font-face {
    font-family: 'gaseok';
    font-weight: normal;
    font-style: normal;
    src: url(../font/GasoekOne-Regular.woff) format('woff');
}